@model IEnumerable<DOANCuoiKyNET.Entities.LoaiSP>

@{
    ViewData["Title"] = "LoadLoai";
    Layout = null;
}
@foreach (var item in Model)
{
<option value="@item.idLoaiSP" selected="selected">@Html.DisplayFor(modelItem => item.tenLoaiSP)</option>
}