@{
    ViewData["Title"] = "Home Page";
    Layout = "_FrontEnd";
}
@model sessionuser;

<div class="text-center">
    <h1 id="hi"></h1>
    <script>
        var x = navigator.appVersion;
        $("#hi").html(x);
    </script>
    <h1>@ViewBag.ipadd</h1>
    <h1>@ViewBag.houser @ViewBag.tenuser</h1>
    <h1>@ViewBag.mess</h1>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
